@import "~theme/configs/mixins";

input[type='text'], input[type='email'], input[type='tel'] {
  width: 100%;
  height: rem(48);
  font-size: rem(24);
  line-height: rem(33);
  @media (min-width: rem(320)) and (max-width: rem(480)) {
    height: rem(32);
    font-size: rem(16);
    line-height: rem(22);
  }
  border: 1px solid transparent;
  border-bottom-color: #424242;
  color: #7d7d7d;
  outline: transparent;
  background-color: transparent;
  &::placeholder {
    font-family: Aktiv Grotesk;
    font-size: rem(24);
    line-height: rem(33);
    color: #7d7d7d;
    @media (min-width: rem(320)) and (max-width: rem(480)) {
      height: rem(32);
      font-size: rem(16);
    }
  }
}
input[type='button'] {
  border: 1px solid #424242;
  font-size: rem(20);
  line-height: rem(27);
  color: #7d7d7d;
  width: 100%;
  height: rem(60);
  background-color: transparent;
  outline: none;
  @media (min-width: rem(320)) and (max-width: rem(480)) {
    height: rem(45);
    font-size: rem(16);
  }
}
select {
  font-size: rem(24);
  line-height: rem(33);
  outline: none;
  color: #7d7d7d;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #424242;
  width: 100%;
  height: rem(48);
  font-family: Aktiv Grotesk;
  @media (min-width: rem(320)) and (max-width: rem(480)) {
    height: rem(45);
    font-size: rem(16);
  }
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   background-image: url(~assets/icons/rectangle.svg);
   background-repeat: no-repeat;
   background-position:  right center;
}

label.radio-button {
  font-size: rem(24);
  line-height: rem(33);
  color: #7d7d7d;
  @media (min-width: rem(320)) and (max-width: rem(480)) {
    height: rem(32);
    font-size: rem(16);
  }
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    margin-right: rem(17);
    margin-bottom: 0 !important;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: rem(2);
    left: rem(2);
    height: rem(24);
    width: rem(24);
    @media (min-width: rem(320)) and (max-width: rem(480)) {
      height: rem(16);
      width: rem(16);
      top: rem(8);
      left: rem(8);
    }
    background-color: transparent;
    border-radius: 50%;
    border: rem(1) solid #424242;
  }
  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: #424242;
  }
  /* When the radio button is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: transparent;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the indicator (dot/circle) when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the indicator (dot/circle) */
  .checkmark:after {
    top: rem(8);
    left: rem(8);
    width: rem(8);
    height: rem(8);
    border-radius: 50%;
    background: #424242;
    @media (min-width: rem(320)) and (max-width: rem(480)) {
      top: rem(4);
      left: rem(4);
    }
  }
}
